[user]
	name = kebo
	email = kebo2021@qq.com
[color]
	branch = auto
	status = auto
	diff = auto
	log = auto
	grep = auto
	interactive = auto
	showBranch = auto
	advice = auto
[merge]
	tool = nvim -d
[alias]
	cm = commit -m
	st = status -sb
	new = checkout -b
	amend = commit --amend -m
	unstage = reset HEAD^
	uncommit = reset --soft HEAD^
	contributors = shortlog --summary --numbered
	lo = log --oneline
	last = log -1 HEAD
	logg = log --graph --decorate --all
	dog = log --all --decorate --oneline --graph
